<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width">
    <title>FINDYOURLOL</title>
    <link href="style.css"
    rel="stylesheet" type="text/css" />
    <style>
      .information {
        border-top: 1px solid lightgray;
        margin-top: 50px;
      }
      .info {
        text-align: center;
        font-color: gray;
        margin-top: 10px;
        color: gray;
      }

    </style>
  </head>
  <body>
    <div class="test-question comp">
      <div class="qusetion">
        <div class="statement">
          다른 사람들에게 자신을 소개하는 것을 어려워 합니다.
        </div>
        <div class="decision">
          <div class="caption agree">동의</div>
          <div class="options">
            <div class="option agree max">
              <span class="far fa-check">
                ::before
              </span>
            </div>
            <div class="option agree med">
              <span class="far fa-check">
                ::before
              </span>
            </div>
            <div class="option agree min">
              <span class="far fa-check">
                ::before
              </span>
            </div>
            <div class="option neutral">
              <span class="far fa-check">
                ::before
              </span>
            </div>
            <div class="option disagree min">
              <span class="far fa-check">
                ::before
              </span>
            </div>
            <div class="option disagree med">
              <span class="far fa-check">
                ::before
              </span>
            </div>
            <div class="option disagree max">
              <span class="far fa-check">
                ::before
              </span>
            </div>
          </div>
          <div class="caption disagree">비동의</div>
        </div>
        <div class="test-questions comp">

          <div class="question" v-for="(question, index) in test.questions" v-if="test.currentSet === (Math.floor(index / 6) + 1)" :ref="'question-' + index">
            <div class="statement">
                {{ question.text }}
            </div>
            <div class="decision">
              <div class="caption agree" @click="testAnswerQuestion(question, index, -3)">동의</div>
              <div class="options">
                <div class="option agree max" :class="{ active: question.answer === -3 }" @click="testAnswerQuestion(question, index, -3)">
                    <span class="far fa-check"></span>
                </div>
                <div class="option agree med" :class="{ active: question.answer === -2 }" @click="testAnswerQuestion(question, index, -2)">
                    <span class="far fa-check"></span>
                </div>
                <div class="option agree min" :class="{ active: question.answer === -1 }" @click="testAnswerQuestion(question, index, -1)">
                    <span class="far fa-check"></span>
                </div>
                <div class="option neutral" :class="{ active: question.answer === 0 }" @click="testAnswerQuestion(question, index, 0)">
                    <span class="far fa-check"></span>
                </div>
                <div class="option disagree min" :class="{ active: question.answer === 1 }" @click="testAnswerQuestion(question, index, 1)">
                    <span class="far fa-check"></span>
                </div>
                <div class="option disagree med" :class="{ active: question.answer === 2 }" @click="testAnswerQuestion(question, index, 2)">
                    <span class="far fa-check"></span>
                </div>
                <div class="option disagree max" :class="{ active: question.answer === 3 }" @click="testAnswerQuestion(question, index, 3)">
                    <span class="far fa-check"></span>
                </div>
            </div>
            <div class="caption disagree" @click="testAnswerQuestion(question, index, 3)">비동의</div>
        </div>
        <div class="decision mobile">
            <div class="caption agree">동의</div>
            <div class="caption disagree">비동의</div>
        </div>
    </div>

</div>

<div class="action-row">
    <button v-if="test.currentSet < 10" class="btn btn-action" @click="testShowNextSet">
        다음
                                            <span class="fas fa-arrow-right"></span>
                    </button>
    <button v-if="test.currentSet === 10" class="btn btn-action" @click="testSubmitAnswers" :disabled="test.states.submitting">
        <template v-if="!test.states.submitting">
            검사 결과
                                                        <span class="fas fa-arrow-right"></span>
                            </template>
        <template v-else>
            검사 결과
                                                        <svg class="fa-spin fa-spinner-third" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><use xlink:href="#spin-icon"></use></svg>
                            </template>
    </button>
</div>



    <script src="script.js"></script>
  </body>
  <foot>
    <div class="information">
      <div class="info">B941058</div>
      <div class="info">디지털미디어</div>
    </div>
  </foot>
</html>
